*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Header Section */
header{
    background-image: url(images/banner/banner3.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.banner-items{
    padding-top: 200px;
    margin-left: 800px;
    width: 40%;
}
.heading{
    font-size: 65px;
    color: #FFFFFF;
    font-style: bold;
    line-height: 80px;
    text-align: right;
}
.paragraph{
    font-size: 16px;
    color: #FFFFFF;
    text-align: right;
    margin-top: 30px;
    line-height: 26px;
}
.btn-primary{
    margin-left: 450px;
    padding: 15px 20px;
    color: #005FAC;
    border: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 30px;
}
.btn-text{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
/* Fail Section */
.fail-section{
    display: flex;
    align-items: center;
    margin-top: 120px;
}
.img-section{
    margin-left: 200px;
}
.description-section{
    margin-left: 50px;
    width: 500px;
}
.description-header{
    font-size: 40px;
    font-weight: 700;
}
.para-description{
    margin-top: 20px;
}
.check-section{
    margin-top: 15px;
}
.description{
    color: #444343;
}
/* Plan Section */
.plan-section{
    margin-top: 100px;
    margin-bottom: 150px;
}
.plan-header{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.skills-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;
}
.skill{
    text-align: center;
}
.skill-header{
    font-size: 25px;
}
.skill-text{
    color: #737272;
    font-size: 20px;
}
/* Call Section */
.call-section{
    background-image: linear-gradient(to right, rgba(0,95,172,100),rgba(0,95,172,0)), url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    height: 300px;
    width: 80%;
    margin: 0 auto;
}
.call{
    padding: 60px 65px;
}
.call-text{
    color: #FFFFFF;
    font-size: 30px;
}
.btn-call{
    padding: 15px 20px;
    color: #005FAC;
    border: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
}
/* Consistent Section */
.consistent{
    margin-top: 150px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.consistent-img img{
    width: 700px;
    height: 700px;
}  
.consistent-info{
    width: 500px;
}
.consistent-para{
    font-size: 16px;
    color: #444343;
    margin-top: 25px;
    line-height: 26px;
}
.btn-consistent{
    padding: 15px 20px;
    background: #005FAC;
    color: #FFFFFF;
    border: #005FAC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 30px;
}
/* Footer Section */
footer{
    color: #FFFFFF;
    background: #000000;
    height: 600px;
}
.footer-section{
    display: flex;
    align-items: center;
    margin: 0px 140px;
    padding: 100px;
    justify-content: space-between;
}
.future{
    width: 30%;
}
footer h3{
    font-size: 40px;
    font-weight: 700;
}
footer p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
}
.social-icon{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.sub-text{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.form{
    padding: 10px 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.form input{
    width: 100%;
    background: transparent;
    border:none;
}
.btn-subscribe{
    padding: 15px 20px;
    background: #005FAC;
    color: #FFFFFF;
    border: #005FAC;
    border-radius: 5px;
    margin-top: 15px;
}